body {
	padding: 0;
	margin: 0;
	font-size: 1.3em;
	color: #fff;
	background-color: #1a1a1a;
	width: -webkit-fill-available;
}
.container {
	/*height: 100vh;*/
	height: 790px;
	width: -webkit-fill-available;
}
.logo {
	font-weight: 400;
	font-family: 'Dela Gothic One';
}
.spacer {
	flex: 1;
}

.container.first {
	background-image: url('stars.png');
	background-size: cover;
}
.container.first .logo {
	font-size: 1.0em;
	letter-spacing: 0.05em;
}
.container.first .header {
	font-size: 0.9em;
	font-family: 'Instrument Sans', sans-serif;
	font-weight: 100;
	padding: 1.8em 2.5em;
	display: flex;
	align-items: center;
}
.container.first a {
	margin: 0 2.5em;
	font-weight: 500;
}
.container.first a.contact {
	padding: 0.5em 1em;
	background-color: #d9d9d9;
	color: #000;
	border-radius: 0.4em;
	font-size: 1.1em;
	font-weight: 500;
}
.container.first .content {
	display: flex;
	flex-direction: row;
	height: -webkit-fill-available;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: 7em;
}
.container.first .content canvas {
	width: 800px;
	margin: 300px 0 0 -300px;
	height: 800px;
}
.container.first .content .block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	text-align: center;
}
.container.first .content .title {
	font-size: 1.9em;
	font-weight: 400;
	font-family: "Dela Gothic One", sans-serif;
}
.container.first .content .subtitle {
	font-size: 1em;
	color: #aaa;
	width: -webkit-fill-available;
	letter-spacing: 0.47em;
	font-family: "Instrument Sans", sans-serif;
}
.container.first .sidebar {
	display: flex;
	flex-direction: column;
	background-color: #fff6;
	padding: 0.6em 0.4em;
	height: max-content;
	border-top-left-radius: 0.8em;
	border-bottom-left-radius: 0.8em;
}
a.social {
	height: 3.5em;
	width: 3.5em;
	border-radius: 3em;
	background-color: #fffa;
	box-shadow: #0007 0em 0em 0.7em;
	display: flex;
	align-items: center;
	justify-content: center;
}
a.social img {
	height: 1.5em;
	width: 1.5em;
}
.container.first .sidebar a {
	margin: 0.7em 0.2em 0.7em 0.5em;
}







.container.second {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.container.second .title {
	font-family: 'Dela Gothic One', sans-serif;
	font-weight: 1000;
	font-size: 52px;
	line-height: 1.1em;
	margin-bottom: 0.5em;
}
.container.second .content {
	color: rgb(111, 111, 111);
	font-family: 'Instrument Sans', sans-serif;
	font-size: 20px;
}
.container.second .pricing {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}
.container.second .pricing .block {
	background-color: #fff;
	color: rgb(102, 102, 102);
	width: 18em;
	margin: 0.7em;
	padding: 2em;
	border-radius: 1.5em;
	font-family: 'Inter';
	font-size: 14px;
	font-weight: 400;
}
.container.second .pricing .caption {
	margin: 0 0 1.5em 0;
}
.container.second .pricing .description {
	margin: 0 0 1.5em 0;
}
.container.second .pricing .price {
	font-size: 54px;
	color: #000;
	font-weight: 700;
}
.container.second .pricing .list>div {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 2.5em;
}
.container.second .pricing .list>div>img {
	margin: 0 0.7em 0 0;
}
.container.second .pricing a.action {
	display: flex;
	width: -webkit-fill-available;
	background-color: #959595;
	color: #fff;
	justify-content: center;
	padding: 0.8em;
	border-radius: 0.5em;
	margin: 2em 0 0 0;
}







.container.third {
	display: flex;
	flex-direction: row;
}
.container.third .block {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container.third .content {
	width: 20em;
}
.container.third>img {
	height: 100%;
	min-width: 0;
	flex: 1;
	overflow: clip;
    object-position: center center;
    object-fit: cover;
	display: flex;
}
.container.third .title {
	font-size: 50px;
	font-family: 'Dela Gothic One', sans-serif;
}
.container.third .subtitle {
	font-family: "Inter", 'Inter Placeholder', sans-serif;
	color: rgb(111, 111, 111);
	font-weight: 700;
	margin: 1em 0 0.5em 0;
}
.container.third .special {
	color: #fff;
	font-size: 24px;
	font-family: 'Inter', sans-serif;
	color: rgb(240, 242, 245);
}
.container.third .price {
	font-size: 30px;
	font-weight: 700;
}
.container.third .body {
	color: rgb(111, 111, 111);
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.6em;
	font-weight: 500;
	margin: 0.5em 0 1em 0;
}
.container.third .action {
	padding: 1em;
	background-color: #959595;
	border-radius: 0.5em;
	font-size: 14px;
	font-weight: 700;
	font-family: sans-serif;
	color: #fff;
	text-decoration: none;
	margin: 0 0.8em 0 0;
}
.container.third .action.secondary {
	background-color: #e6eaec;
	color: rgb(51, 51, 51);
}










.container.fourth {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	background-image: url('stars.png');
	background-size: cover;
	padding: 0 18%;
}
.container.fourth .title {
	font-size: 50px;
	font-family: 'Dela Gothic One', sans-serif;
}
.container.fourth .content {
	font-size: 24px;
	line-height: 1.5em;
	color: rgb(111, 111, 111);
	font-family: 'Inter', sans-serif;
}
.container.fourth .action {
	padding: 1em;
	background-color: #e6eaec;
	color: rgb(51, 51, 51);
	border-radius: 0.5em;
	font-size: 14px;
	font-weight: 700;
	font-family: sans-serif;
	text-decoration: none;
	margin: 0 0.8em 0 0;
}
.container.fifth {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 15%;
}
.container.fifth .title {
	font-size: 50px;
	font-family: 'Dela Gothic One', sans-serif;
	text-align: center;
	margin: 0 0 0.5em 0;
}
.container.fifth .block {
	display: grid;
	gap: 50px;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(3,minmax(200px,1fr));
    grid-template-rows: repeat(2,min-content);
	font-family: 'Inter', sans-serif;
}
.container.fifth .block > div {
	display: flex;
	flex-direction: column;
}
.container.fifth .block > div img {
	height: 300px;
	object-fit: cover;
	border-radius: 1em;
}
.container.fifth .smaller {
	grid-column: auto / span 1;
}
.container.fifth .larger {
	grid-column: auto / span 2;
}
.container.fifth .caption {
	font-size: 24px;
	color: rgb(240, 242, 245);
	font-weight: 700;
	margin: 1.2em 0 0.7em 0;
}
.container.fifth .content {
	color: rgb(111, 111, 111);
	font-size: 20px;
}











.container.sixth {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 15%;
}
.container.sixth .title {
	font-family: 'Dela Gothic One', sans-serif;
	font-size: 50px;
}
.container.sixth > .content {
	color: rgb(111, 111, 111);
	font-family: 'Instrument Sans', sans-serif;
	font-weight: 500;
	padding: 0 16%;
	text-align: center;
	font-size: 20px;
	margin: 3em 0;
}
.container.sixth .voices {
	display: flex;
	flex-direction: row;
}
.container.sixth .voice {
	flex: 1;
	min-width: 0;
	background-color: #fff;
	margin: 0 0.5em;
	border-radius: 1em;
	padding: 1.5em;
}
.container.sixth .profile {
	display: flex;
	align-items: center;
	margin: 0 0 1em 0;
}
.container.sixth .profile > img {
	width: 2.5em;
	height: 2.5em;
	min-width: 0px;
	background-color: rgb(216, 216, 216);
	border-radius: 100%;
}
.container.sixth .box {
	flex: 1;
	margin: 0 0 0 0.5em;
}
.container.sixth .name {
	color: #000;
	font-family: "Inter", "Inter Placeholder", sans-serif;
	font-weight: 500;
	font-size: 20px;
}
.container.sixth .username {
	color: rgb(102, 102, 102);
	font-size: 14px;
	font-weight: 500;
	font-family: "Inter", "Inter Placeholder", sans-serif;
}
.container.sixth .voice .content {
	text-align: left;
	width: -webkit-fill-available;
	font-size: 16px;
	color: rgb(102, 102, 102);
	font-family: 'Inter', sans-serif;
	line-height: 1.5em;
	height: 16em;
	overflow-y: scroll;
	font-weight: 500;
}








.container.seventh {
	padding: 2em;
	height: calc(790px - 4em);
	background-image: url('stars.png');
	background-size: cover;
}
.container.seventh .header {
	margin: 1.5em 0 5em 0;
	display: flex;
}
.container.seventh .logo {
	font-size: 20px;
	color: rgb(240, 242, 245);
	flex: 1;
}
.container.seventh a {
	color: rgb(111, 111, 111);
	text-decoration: none;
	font-family: "Instrument Sans", sans-serif;
	font-size: 20px;
	margin: 0 0 0 2em;
}
.container.seventh .block {
	display: flex;
}
.container.seventh .item {
	flex: 1;
}
.container.seventh .title {
	font-size: 50px;
	font-family: "Dela Gothic One", sans-serif;
	color: rgb(240, 242, 245);
}
.container.seventh .subtitle {
	font-size: 24px;
	font-weight: 500;
	color: rgb(111, 111, 111);
	font-family: "Instrument Sans", sans-serif;
	margin: 0 0 5em 0;
}
.container.seventh .contact {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: rgb(111, 111, 111);
	margin: 0.5em 0;
}
.container.seventh .contact img {
	height: 1.5em;
	width: 1.5em;
	margin: 0 1em 0 0;
}
form .row {
	display: flex;
	flex-direction: row;
}
form .field {
	display: flex;
	flex-direction: column;
	margin: 1.5em 1.5em;
}
form .row .field {
	flex: 1;
}
form .field label {
	font-family: "Dela Gothic One", sans-serif;
	font-size: 24px;
	color: rgb(240, 242, 245);
	font-size: 20px;
	margin: 0 0 0.5em 0;
}
form .field input {
	background: none;
	border: none;
	border-bottom: solid 2px rgb(240, 242, 245);
	padding: 0.3em 0;
	font-size: 20px;
}
form button {
	padding: 0.2em 1em;
	background-color: #efefef;
	color: rgb(51, 51, 51);
	font-family: "Instrument Sans", sans-serif;
	font-size: 18px;
	font-weight: 600;
	border-radius: 0.5em;
	margin: 0 1.5em;
}
.container.seventh .footer {
	display: flex;
	justify-content: flex-end;
	margin-top: 7em;
}
